<h2>Países</h2>
<hr>
<ul class="list-group">
  <!-- <li routerLink="home" class="list-group-item" routerLinkActive="active">
    Homge Page
  </li>
  <li routerLink="about" class="list-group-item" routerLinkActive="active">
    About Page
  </li>
  <li routerLink="contact" class="list-group-item" routerLinkActive="active">
    Contact Page
  </li> -->
  <li routerLink="countries/by-capital" class="list-group-item" routerLinkActive="active">
    Por capital
  </li>
  <li routerLink="countries/by-region" class="list-group-item" routerLinkActive="active">
    Por region
  </li>
  <li routerLink="countries/by-country" class="list-group-item" routerLinkActive="active">
    Por pais
  </li>

</ul>
